# Seguros Bolívar UI Library — Private Registry
# Copy this file to .npmrc and replace <YOUR_TOKEN> with your JFrog auth token
@seguros-bolivar:registry=https://segurosbolivar.jfrog.io/artifactory/api/npm/seguros-bolivar-ui-lib-virtual/
//segurosbolivar.jfrog.io/artifactory/api/npm/seguros-bolivar-ui-lib-virtual/:_authToken=<YOUR_TOKEN>
